.number {
	background-color: aquamarine;
}

.grid-item-1 {
	grid-area: one;
}

.grid-item-2 {
	grid-area: two;
}

.grid-item-3 {
	grid-area: three;
}

.grid-item-4 {
	grid-area: four;
}

.grid-item-5 {
	grid-area: five;
}

.grid-item-6 {
	grid-area: six;
}

.grid-item-7 {
	grid-area: seven;
}

.grid-item-8 {
	grid-area: eight;
}

.grid-item-9 {
	grid-area: nine;
}

.grid-item-0 {
	grid-area: zero;
}

.grid-item-add {
	grid-area: add;
}

.grid-item-subtract {
	grid-area: subtract;
}

.grid-item-divide {
	grid-area: divide;
}

.grid-item-multiply {
	grid-area: multiply;
}

.grid-item-equals {
	grid-area: equals;
}

.grid-item-decimal {
	grid-area: decimal;
}

.grid-item-ac {
	grid-area: ac;
}
