.num-pad {
	margin: 0 auto;
	display: grid;
	max-width: 500px;
	grid-template-areas:
		"clear clear subtract divide"
		"seven eight nine multiply"
		"four five six add"
		"one two three equals"
		"zero zero decimal equals";
}
