.num-pad {
	margin: 0 auto;
	display: grid;
	max-width: 500px;
	grid-template-areas:
		"ac subtract divide multiply"
		"seven eight nine add"
		"four five six add"
		"one two three equals"
		"zero zero decimal equals";
}
